$primary-color: #fff;
$font-color: #000;
$center-alignment: center;
$card-background-color: aqua;
$red: red;
$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 700
);
$box-shadow: 10px 10px 27px 0px rgba(14,212,242,0.71);
$onclick-content-background:#fefefe;
$onclick-content-border-color:#888;
$close-button-color: #aaa;
$click-details-bg-fade: rgba(0, 0, 0, 0.4);